a {
  color: black;
}

.main {
  height: 100%;
  width: 80%;
  margin: 10px auto;
}

.card {
  background-color: white;
  border-radius: 0.5%;
  float: left;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#side-list {
  height: 100%;
  width: 27%;
  margin: 0 1% 0 2%;
}

#details {
  height: 100%;
  width: 67%;
  margin: 0 2% 0 1%;
}
