.homepage-text {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.homepage-intro {
  font-size: 22px;
  font-weight: 500;
}

.homepage-name {
  color: #2a7ae2;
}

.body-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.contact-info {
  font-size: 16px;
}

.icon-space {
  width: 2.5%;
}

.test-border {
  border-style: dotted;
}

.skill {
  color: #55a82d;
}

.resize-image {
  width: 400px;
  height: 400px;
	overflow:hidden;
	margin: 0;
	border-radius: 50%;
}


.cropped {
	width: 500px;
	height: 500px;
	margin: -60px 0 0 -50px;
}


.fab {
	color: black;
	padding:10px;
}

.fab:hover {
	color: black;
	opacity: 0.7;
}

.far {
	color: black;
	padding:10px;
}

.far:hover {
	color: black;
	opacity: 0.7;
}

footer {
	background-color: white;
	text-align: center;
	padding: 15px;
}

.contact-icons {
	width: 90%;
	margin: 0 auto;
	border-top-style: solid;
	border-width: 1px;
}
